
.logo {
    color: var(--accent-color);
    font-weight: 700;
    font-family: "Raleway";
    font-size: 26px;
    text-align: Left;
    letter-spacing: 0.03em;
    line-height: 1.19;
  }
  .logo-sec {
    color: var(--black-text);
  }
  
  .logo-header {
    padding: 24px 0;
  }
  
  .logo-sec-footer {
    color: var(--white-text);
  }